@font-face {
    font-family: 'skyrimfont'; /*a name to be used later*/
    src: url("RINGM___.ttf"); /*URL to font*/
}
html
{
    cursor: url(http://cur.cursors-4u.net/games/gam-14/gam1394.cur), progress !important;
}

body {



    font-family: skyrimfont;
    color: darkgrey;
    position: absolute;
    left: 63%;
    top: 45%;
    transform: translate(-50%, -50%);

    /*
    This doesn't work
    margin-left: -25%;
    margin-top: -25%;
    */

    width: 60%;
    height: 50%;

    background-image: url("skyrim.jpg");

    background-size:cover;
}
#msgtxtbx
{
    position: relative;
    left: 8%;
}


#create{
      position: absolute;
    left: 74%;
    top: 6%;
    transform: translate(-50%, -50%);

}
button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font: normal normal bold 20px/40px "Baumans", Helvetica, sans-serif;
    color: black;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(221, 221, 221);
    -webkit-box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
    box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
    text-shadow: 0 1px 0 #FFFFFF ;
}

.enjoy-css:hover {
    background: #FFFFFF;
}

.enjoy-css:active {
    margin: 6px 0 0;
    background: rgb(221, 221, 221);
    -webkit-box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
    box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
}

.enjoy-css:focus {
    background: rgb(221, 221, 221);
}